<div ng-form="CRUDCronogramasForm" class="modal-container crud" us-spinner spinner-on="ctrl.isLoading">
  <!-- Modal Header -->
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row cda-row">
        <h3 class="title">{{ctrl.title}}</h3>
      </div>
      <div class="row cda-row" ng-show="!ctrl.hora" ng-repeat="horario in ctrl.cronograma.horarios">
        <div class="col-lg-2">
          <label class="" for="hora">Hora</label>
          <input name="hora" ng-model="horario.hora" type="text" class="form-control" ng-readonly="true">
        </div>
        <div class="col-lg-2">
          <cda-combo-box data="ctrl.materias" ng-model="horario.lunes" label-name="abreviatura" label="Lunes" disabled="ctrl.disabled"></cda-combo-box>
        </div>
        <div class="col-lg-2">
          <cda-combo-box data="ctrl.materias" ng-model="horario.martes" label-name="abreviatura" label="Martes" disabled="ctrl.disabled"></cda-combo-box>
        </div>
        <div class="col-lg-2">
          <cda-combo-box data="ctrl.materias" ng-model="horario.miercoles" label-name="abreviatura" label="Miércoles" disabled="ctrl.disabled"></cda-combo-box>
        </div>
        <div class="col-lg-2">
          <cda-combo-box data="ctrl.materias" ng-model="horario.jueves" label-name="abreviatura" label="Jueves" disabled="ctrl.disabled"></cda-combo-box>
        </div>
      </div>
      <div class="row cda-row" ng-if="ctrl.hora">
        <div class="col-lg-2">
          <label class="" for="hora">Hora</label>
          <input name="hora" ng-model="ctrl.materiasSelected.hora" type="text" class="form-control" ng-readonly="true">
        </div>
        <div class="col-lg-2">
          <cda-combo-box data="ctrl.materias" ng-model="ctrl.materiasSelected.lunes" label-name="abreviatura" label="Lunes" disabled="ctrl.disabled"></cda-combo-box>
        </div>
        <div class="col-lg-2">
          <cda-combo-box data="ctrl.materias" ng-model="ctrl.materiasSelected.martes" label-name="abreviatura" label="Martes" disabled="ctrl.disabled"></cda-combo-box>
        </div>
        <div class="col-lg-2">
          <cda-combo-box data="ctrl.materias" ng-model="ctrl.materiasSelected.miercoles" label-name="abreviatura" label="Miércoles"
            disabled="ctrl.disabled"></cda-combo-box>
        </div>
        <div class="col-lg-2">
          <cda-combo-box data="ctrl.materias" ng-model="ctrl.materiasSelected.jueves" label-name="abreviatura" label="Jueves" disabled="ctrl.disabled"></cda-combo-box>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row cda-row">
            <div class="col-xs-12">
              <button ng-if="ctrl.cronograma._id && !ctrl.isEditing" class="btn btn-primary" type="button" ng-click="ctrl.setEdit(true)">Editar</button>
              <button ng-if="ctrl.isEditing" class="btn btn-primary" type="button" ng-click="ctrl.save()">Guardar</button>
              <button ng-if="ctrl.cronograma._id" class="btn btn-primary" type="button" ng-click="ctrl.delete()">Eliminar</button>
              <button ng-if="ctrl.isEditing" class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancelar</button>
              <button ng-if="!ctrl.isEditing" class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Salir</button>
            </div>
          </div>
        </div>
      </div>
    </div>