<div ng-controller="BorrarAlumnoController">

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Alummnos seleccionados:</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" ng-repeat="alumno in alumnos">
                    {{ alumno.name }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>


    <table class="table table-fit">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <button type="button" id="div1" style="display:none; background-color:transparent" class="btn" data-toggle="modal" data-target="#myModal"
                        ng-click="submit(results)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>

                </th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='alumno in results'>
                <td>
                    <div class="checkbox">
                        <label style="font-size: 1em">
                            <input type="checkbox" name="c1" value="{{alumno.legajo}}" id="{{alumno.legajo}}" ng-model="alumno.selected" onclick="showMe('div1')">
                            <span class="cr">
                                <i class="cr-icon fa fa-check"></i>
                            </span>
                        </label>
                    </div>
                    </th>
                    <td> {{ alumno.name }}</th>
            </tr>
        </tbody>
    </table>
</div>
</div>


</div>