#eliminar {
    padding: 0%;
    display: none;
    background-color: transparent;
    cursor: pointer; /* cursor como si fuera un link*/
    outline: none; /* no se marcan bordes azules cuando haces click */
}

.table {
    width: 100%; 
    text-align: justify;
    table-layout:fixed;
    padding-top: 10px
  }

td {
    margin-right: 15px;
}

/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
    body {
        font-family: 'Open Sans', sans-serif;
        color: #353535;
    }
   
    
