#eliminar {
    padding: 0%;
    display: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.table {
    width: 100%; 
    text-align: justify;
    table-layout:fixed;
    padding-top: 10px
  }


td {
    margin-right: 15px;
  
  }

th {
    width: 100%; 
    table-layout:fixed;
}

/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
    body {
        font-family: 'Open Sans', sans-serif;
        color: #353535;
    }
   
    
