<div ng-controller='AlumnosController'>
    <div ng-controller="BorrarAlumnoController">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="submit(results)">
            Borrar
        </button>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" ng-repeat="alumno in alumnos">
                        {{ alumno.name }}
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='alumno in results'>
                <th>
                    <div class="checkbox">
                        <label style="font-size: 1em">
                            <input type="checkbox" value="{{alumno.legajo}}" id="{{alumno.legajo}}" ng-model="alumno.selected" ng-false-value="''">
                            <span class="cr">
                                <i class="cr-icon fa fa-check"></i>
                            </span>
                        </label>
                    </div>
                </th>
                <th> {{ alumno.name }}</th>
            </tr>

        </tbody>

    </table>

</div>

</div>
